Django~=2.2.3
Cython
amqp
aniso8601
arrow~=0.15.5
asgiref
async-timeout
atomicwrites
attrs
autobahn
Automat
Babel
backcall
billiard
celery
channels
channels-redis
chardet
constantly
coverage
daphne
decorator
django-autofixture~=0.12.1
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-extensions
django-filter
django-mathfilters
django-phonenumber-field
django-split-settings
djangorestframework~=3.11.0
factory-boy
Faker~=4.0.1
gunicorn
hyperlink
idna
incremental
ipython
ipython-genutils
jedi
kombu
Markdown
more-itertools
numpy~=1.18.1
pandas
parso
pexpect
phonenumbers
pickleshare
Pillow
pluggy
promise
prompt-toolkit
psycopg2
ptyprocess
py-moneyed
Pycco
Pygments
PyHamcrest
pystache
pytest~=5.3.5
python-dateutil
pytz
singledispatch
six
smartypants
sqlparse
tblib
tex
traitlets
Twisted
txaio
uuid~=1.30
vine
wcwidth
Werkzeug
zope.interface

pydotplus~=2.0.2
sklearn~=0.0
scikit-learn~=0.23.1
statsmodels~=0.11.1