{% autoescape off %}
Hi {{ user.get_username }},
<br>
    You are now registered at  <a href="http://192.168.33.66:8000/">Roxas City Bureau of Fire Protection System</a>.
Before you can use your account please reset your password.<br>
To initiate the password reset process for your account on RCBFP, click the link below:
<br>
<a href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset password</a>

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.
<br><br>
Sincerely,<br>
<strong>The RCBFP Team</strong>
{% endautoescape %}