{% load static %}

<script type="text/javascript">
    window.onload = function () {
        var data = {
            {#TODO: get/set incidents latitude and longitude data #}
            max: {{ objects.count }},
            data: [
                {% for obj in objects %}
                    {% if obj.count != 0 %}
                        {lat: '{{ obj.latitude }}', lng: '{{ obj.longitude }}', count: '{{ obj.count }}'},
                    {% endif %}
                {% endfor %}
            ]
        };

        var baseLayer = L.tileLayer(
            'http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 18
            }
        );

        var cfg = {
            // radius should be small ONLY if scaleRadius is true (or small radius is intended)
            "radius": 28,
            "maxOpacity": .8,
            // scales the radius based on map zoom
            "scaleRadius": false,
            // if set to false the heatmap uses the global maximum for colorization
            // if activated: uses the data maximum within the current map boundaries
            //   (there will always be a red spot with useLocalExtremas true)
            "useLocalExtrema": true,
            // which field name in your data represents the latitude - default "lat"
            latField: 'lat',
            // which field name in your data represents the longitude - default "lng"
            lngField: 'lng',
            // which field name in your data represents the data value - default "value"
            valueField: 'count'
        };


        var heatmapLayer = new HeatmapOverlay(cfg);

        var map = new L.Map('mapid', {
            center: new L.LatLng(11.582705, 122.7519348),
            zoom: 15,
            layers: [baseLayer, heatmapLayer]
        });

        heatmapLayer.setData(data);

        // make accessible for debugging
        layer = heatmapLayer;
    };
</script>