{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block sidebar %}{% endblock %}
{% block main_wrapper %}
    <div class="main-wrapper">
        <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
            <main class="auth-page">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet">
                            <div class="mdc-card">
                                <div class="container-fluid">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert text-{% if message.tags %}{{ message.tags }}{% endif %}">
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if validlink %}
                                    <h3>Change password</h3>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit"
                                                class="mdc-button mdc-button--raised filled-button--success mdc-ripple-upgraded"
                                                style="--mdc-ripple-fg-size:56px; --mdc-ripple-fg-scale:1.96864; --mdc-ripple-fg-translate-start:-7.14661px, -7.57693px; --mdc-ripple-fg-translate-end:18.7788px, -10.0012px;">
                                            Change password
                                        </button>
                                    </form>
                                {% else %}
                                    <p>
                                        The password reset link was invalid, possibly because it has already been used.
                                        Please request a new password reset.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}