{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block sidebar %}{% endblock %}
{% block main_wrapper %}
    <div class="main-wrapper">
        <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
            <main class="auth-page">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-6-tablet">
                            <div class="mdc-card">
                                <div class="container-fluid">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert text-{% if message.tags %}{{ message.tags }}{% endif %}">
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <p>
                                    We've emailed you instructions for setting your password, if an account exists with
                                    the email you entered.
                                    You should receive them shortly.
                                </p>
                                <p>
                                    If you don't receive an email, please make sure you've entered the address you
                                    registered with,
                                    and check your spam folder.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}