{% extends 'base.html' %}
{% load static %}
{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block page_wrapper_contents %}
    <div class="row">
        <ul class="legend">
            <li><span class="pending"></span> Pending</li>
            <li><span class="non-compliant"></span> Non-Compliant</li>
            <li><span class="compliant"></span> Compliant</li>
        </ul>

        <div class="col-sm-12 col-md-12">
            <div id="mapid"></div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
{% endblock %}
{% block scripts %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    {% include 'map/business_map.js.html' %}
{% endblock %}
