{% extends 'base.html' %}
{% load static %}
{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block page_wrapper_contents %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h6 class="card-title">{{ page_title }}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon card-header-primary">
                                    <div class="card-icon">
                                        <i class="material-icons">info</i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ obj.name }}</h5>
                                    <p class="text-muted">Nature: {{ obj.nature }}</p>
                                    <p class="text-muted">Owner: {{ obj.get_full_name }}</p>
                                    <p class="text-muted">Landline: {{ obj.landline }}</p>
                                    <p class="text-muted">Mobile Number: {{ obj.mobile_number }}</p>
                                    <p class="text-muted">Email: {{ obj.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon card-header-primary">
                                    <div class="card-icon">
                                        <i class="material-icons">settings</i>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <h5 class="font-weight-light pb-2 mb-1 border-bottom">

                                        Remarks:
                                        {% if obj.is_safe %}
                                            <strong class="text-success">SAFE</strong>
                                        {% else %}
                                            <strong class="text-danger">FIRE PRONE</strong>
                                        {% endif %}
                                    </h5>


                                    <p class="text-muted">Status:
                                        <span class="{% if obj.status %}text-success{% else %}text-danger{% endif %}">
                                        {{ obj.get_status_display }}
                                        </span>
                                    </p>
                                    <p class="text-muted">Date created: {{ obj.created }}</p>
                                    <p class="text-muted">Date updated: {{ obj.updated }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-nav-tabs card-plain">
                                <div class="card-header card-header-primary">
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#location" data-toggle="tab">
                                                        <i class="material-icons">map</i>
                                                        Location
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#checklist" data-toggle="tab">
                                                        <i class="material-icons">fact_check</i>
                                                        Checklist
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="tab-content text-left">
                                        <div class="tab-pane active" id="location">
                                            <div id="mapid"></div>
                                        </div>
                                        <div class="tab-pane" id="checklist">
                                            <a class="btn btn-success m-1"
                                               href="{% url 'admin_dashboard_checklist_create_by_business' obj.pk %}">
                                                <i class="material-icons">add</i> Add Checklist
                                            </a>
                                            <div class="table-responsive">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Date</th>
                                                            <th>Score</th>
                                                            <th>Fire Rating</th>
                                                            <th>Risk</th>
                                                            <th>Remarks</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for data in checklists %}
                                                            <tr>
                                                                <td>{{ data.id }}</td>
                                                                <td>{{ data.date_checked }}</td>
                                                                <td>{{ data.get_score }}</td>
                                                                <td>{{ data.fire_rating }}</td>
                                                                <td>{{ data.risk }}</td>
                                                                <td>{{ data.get_remarks_display }}</td>
                                                                <td>
                                                                    <a href="{% url 'admin_dashboard_checklist_detail' data.id %}"
                                                                       class="text-primary">
                                                                        Details
                                                                    </a>
                                                                    |
                                                                    <a href="{% url 'admin_dashboard_checklist_summary' data.id %}">
                                                                        Summary
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title p-0">{{ page_title }}</h6>
                </div>
                <div class="card-body">
                    <a class="btn btn-warning m-1"
                       href="{% url 'admin_dashboard_business_update' obj.id %}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="btn btn-danger m-1"
                       href="{% url 'admin_dashboard_business_delete' obj.id %}">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
{% endblock %}
{% block scripts %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    {% include 'map/building_location.js.html' %}
{% endblock %}
