{% load static %}
<div class="sidebar" data-color="orange" data-background-color="white"
     data-image="{% static 'webadmin/img/sidebar-1.jpg' %}">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="{% url 'admin_dashboard_home_view' %}" class="simple-text logo-normal">
            {{ page_title }}
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="{% url 'admin_dashboard_home_view' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'admin_dashboard_building_list' %}">
                    <i class="material-icons">store_mall_directory</i>
                    <p>Buildings</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">business</i>
                    <p>Businesses</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">storage</i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">fireplace</i>
                    <p>Incidents</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">person</i>
                    <p>Accounts</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">bar_chart</i>
                    <p>Reports</p>
                </a>
            </li>
        </ul>
        <div class="container">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navSettings"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">settings</i>
                    Settings
                </a>

                <div class="dropdown-menu" aria-labelledby="navSettings">
                    <a class="dropdown-item" href="#">Gender</a>
                    <a class="dropdown-item" href="#">Civil Status</a>
                    <a class="dropdown-item" href="#">Educational Attainment</a>
                    <a class="dropdown-item" href="#">Religions</a>
                    <a class="dropdown-item" href="#">Disabilities</a>
                    <a class="dropdown-item" href="#">Barangays</a>
                    <a class="dropdown-item" href="#">Sitio</a>
                </div>
            </div>
        </div>
    </div>
</div>