{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block page_wrapper_contents %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">{{ page_title }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    {% if messages %} {% for m in messages %}
                        <div class="alert alert-{{ m.tags }}">{{ m }}</div>
                    {% endfor %} {% endif %}
                    <form method="post" onsubmit="return checkPassword(this)">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="small text-muted">Your password can't be too similar to your other personal information.</div>
                        <div class="small text-muted">Your password must contain at least 8 characters.</div>
                        <div class="small text-muted">Your password can't be a commonly used password.</div>
                        <div class="small text-muted">Your password can't be entirely numeric.</div>

                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_js %}
{% endblock %}
{% block scripts %}
    <script>

        // Function to check Whether both passwords
        // is same or not.
        function checkPassword(form) {
            password1 = form.password1.value;
            password2 = form.password2.value;

            // If password not entered
            if (password1 == '')
                alert("Please enter Password");

            // If confirm password not entered
            else if (password2 == '')
                alert("Please enter confirm password");

            // If Not same return False.
            else if (password1 != password2) {
                alert("\nPassword did not match: Please try again...")
                return false;
            }

            // If same return True.
            else {
                return true;
            }
        }
    </script>
{% endblock %}