{% extends 'base.html' %}
{% load static %}
{% block header_css %}
{% endblock %}
{% block header_js %}
{% endblock %}

{% block page_wrapper_contents %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h6 class="card-title">{{ page_title }}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <img src="{{ image }}" class="img-fluid">
                </div>
                <div class="body">
                    <pre>{{ text }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
{% endblock %}
{% block scripts %}
{% endblock %}
