{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block header_css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <style>
        #mapid {
            height: 180px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block header_js %}
{% endblock %}
{% block page_wrapper_contents %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-text card-header-primary">
                    <div class="card-text">
                        <h4 class="card-title">{{ page_title }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    {% if messages %} {% for m in messages %}
                        <div class="alert alert-{{ m.tags }}">{{ m }}</div>
                    {% endfor %} {% endif %}
                    <form method="post" action="{% url 'admin_dashboard_building_create_new' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div id="mapid"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group-sm">
                                    <input id="id_lat" name="latitude" placeholder="latitude" class="form-control sif"
                                           type="text" required readonly/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group-sm">
                                    <input id="id_lng" name="longitude" placeholder="longitude" class="form-control sif"
                                           type="text" required readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_name">Name</label>
                                    <input id="id_name" name="name" type="text" placeholder="Building name"
                                           class="form-control sif" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_address">Address</label>
                                    <input id="id_address" name="address" type="text" placeholder="Building address"
                                           class="form-control sif" onchange="" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_date">Date of Construction</label>
                                    <input id="id_date" name="date_of_construction" type="text"
                                           placeholder="Select date" class="form-control sif" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_floor_number">Floor Number</label>
                                    <input id="id_floor_number" name="floor_number" type="number"
                                           placeholder="Floor number" class="form-control sif" required/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_height">Height</label>
                                    <input id="id_height" name="height" type="number"
                                           placeholder="Enter height in meters" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_floor_area">Floor Area</label>
                                    <input id="id_floor_area" name="floor_area" type="number"
                                           placeholder="Enter floor area in sq.m" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_total_floor_area">Total Floor Area</label>
                                    <input id="id_total_floor_area" name="total_floor_area" type="number"
                                           placeholder="Enter total floor area in sq.m" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_beams">Beams</label>
                                    <input id="id_beams" name="beams" type="number" placeholder="Fire Raing: 0 to 5"
                                           min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_columns">Columns</label>
                                    <input id="id_columns" name="columns" type="number" placeholder="Fire Raing: 0 to 5"
                                           min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_flooring">flooring</label>
                                    <input id="id_flooring" name="flooring" type="number"
                                           placeholder="Fire Raing: 0 to 5" min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_exterior_walls">Exterior Walls</label>
                                    <input id="id_exterior_walls" name="exterior_walls" type="number"
                                           placeholder="Fire Raing: 0 to 5" min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_corridor_walls">Corridor Walls</label>
                                    <input id="id_corridor_walls" name="corridor_walls" type="number"
                                           placeholder="Fire Raing: 0 to 5" min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_room_partitions">Room Partitions</label>
                                    <input id="id_room_partitions" name="room_partitions" type="number"
                                           placeholder="Fire Raing: 0 to 5" min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_main_stair">Main Stair</label>
                                    <input id="id_main_stair" name="main_stair" type="number"
                                           placeholder="Fire Raing: 0 to 5" min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_window">Window</label>
                                    <input id="id_window" name="window" type="number" placeholder="Fire Raing: 0 to 5"
                                           min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_ceiling">Ceiling</label>
                                    <input id="id_ceiling" name="ceiling" type="number" placeholder="Fire Raing: 0 to 5"
                                           min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_main_door">Main Door</label>
                                    <input id="id_main_door" name="main_door" type="number"
                                           placeholder="Fire Raing: 0 to 5" min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_trusses">Trusses</label>
                                    <input id="id_trusses" name="trusses" type="number" placeholder="Fire Raing: 0 to 5"
                                           min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_roof">Roof</label>
                                    <input id="id_roof" name="roof" type="number" placeholder="Fire Raing: 0 to 5"
                                           min="0" max="5" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="id_entry_road_width">Entry Road Width</label>
                                    <input id="id_entry_road_width" name="entry_road_width" type="number"
                                           placeholder="Width in meters" class="form-control sif"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <select id="id_region" name="region" class="form-control" required>
                                        <option value="">Select Region</option>
                                        {% for region in regions %}
                                            <option value="{{ region.pk }}"
                                                    {% if application_formdata.region == region.pk or default_region == region %}selected{% endif %}>{{ region.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <select id="id_province" name="province" class="form-control" required>
                                        <option value="">Select Province</option>
                                        {% for province in provinces %}
                                            <option value="{{ province.pk }}"
                                                    {% if application_formdata.province == province.pk or default_province == province %}selected{% endif %}>{{ province.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <select id="id_city" name="city" class="form-control" required>
                                        <option value="">Select City</option>
                                        {% for city in cities %}
                                            <option value="{{ city.pk }}"
                                                    {% if application_formdata.city == city.pk or default_city == city %}selected{% endif %}>{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_js %}
{% endblock %}
{% block scripts %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    {% include 'map/building.js.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_region").on("change", function (e) {
                var region_id = $(this).val();
                var url = "{% url 'provinces_by_region' %}?id=" + region_id;

                $.get(url, function (data, status) {
                    var opts = "";

                    $.each(data, function (i, p) {
                        opts = opts + "<option value='" + p.pk + "'>" + p.name + "</option>";
                    });

                    $("#id_province").empty().append(opts);
                });
            });

            $("#id_province").on("change", function (e) {
                var province_id = $(this).val();
                url = "{% url 'cities_by_province' %}?id=" + province_id;

                $.get(url, function (data, status) {
                    var opts = "";

                    $.each(data, function (i, c) {
                        opts = opts + "<option value='" + c.pk + "'>" + c.name + "</option>";
                    });

                    $("#id_city").empty().append(opts);
                });
            });
        });
    </script>
{% endblock %}
